.activity-time {
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 5px 3px 10px white;
}

.break-time {
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 5px 3px 10px white;
}