.header {
    display: flex;
    align-items: center;
    height: 15vh;
    /* margin: 0 5%; */
    background-color: black;
    /* margin-left: 10%; */
}

.header img {
    height: 80%;
    margin: 0 2% 0 5%;
}

.header-text {
    color: whitesmoke;
}